<div class="header">
    <h3>Change owner</h3>
</div>
<hr>
<form novalidate class="change-owner" ng-controller="AllianceController">
    <div class="body">

        Select Member:
        <select ng-model="selected_user">
                <option ng-repeat="user in alliance_users | filter:{role: 'leadership'}:true">{{user.username}}</option>
        </select>
        <br>
    </div>
    <hr>
    <div class="footer">
        <button type="button" class="btn btn-default" ng-click="modalIns.modalService.close()">Close</button>
        <input type="button" class="btn btn-success" ng-click="change_owner(selected_user)" value="Change owner"/>
    </div>
</form>

