    <div class="header">
        <h3>Create Alliance</h3>
    </div><hr>
    <div class="body">
        <div ng-controller="AllianceController">
            <form novalidate class="create-alliance">
                <input type="text" name="name" ng-model="alliance.name" placeholder="Name" /><br><br>
                <textarea cols="24" rows="3" type="text" name="description" ng-model="alliance.description" placeholder="Description"></textarea> <br><br>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" ng-click="modalIns.modalService.close()">Close</button>
                    <button type="button" class="btn btn-primary" ng-click=createAlliance()>Save</button>
                </div>
            </form>
        </div>
    </div>
