<div class="alliance">
    <div class="alliance-form">
        <form novalidate name="allianceForm">
            <div class="row">
                <div class="col-md-4">
                    <input name="name" ng-model="alliance.name" ng-disabled="button" ng-init="button=true" required/><br><br>
                </div>

                <div class="col-md-6">
                    <input ng-hide="button" type="button" class="btn btn-success" ng-click="updateAlliance(); button=true" value="Save" />
                    <input ng-hide="button" type="button" class="btn btn-success" ng-click="button=true" value="Cancel" />
                    <input ng-show="button" type="button" class="btn btn-success" ng-click="button=false" value="Edit" />
                    <input type="button" class="btn btn-danger pull-right" value="Delete" />
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <textarea cols="50" name="description" ng-model="alliance.description" ng-disabled="button" ng-init="button=true" required>{{alliance.description}}</textarea>
                </div>
            </div>
        </form>
    </div>
    <hr>
    <div class="users-table">
        <h3>Members</h3>
        <div class="table-responsive">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <td>Nr.</td>
                        <td>Name</td>
                        <td>Role</td>
                        <td>Options</td>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="user in alliance_users">
                        <td>{{$index+1}}</td>
                        <td>{{user.username}}</td>
                        <td>{{user.role}}</td>
                        <td>
                            <input ng-if="user.role === 'member'" type="button" class="btn btn-default" value="Promote">
                            <input ng-if="user.role != 'member'" type="button" class="btn btn-default" value="Denode">
                            <input type="button" class="btn btn-danger" value="Kick">
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>