<div class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h3>Notifications</h3>
            </div>
            <div class="modal-body notifications">
                <div ng-repeat="notification in notifications">
                    <div class="row">
                        {{notification.name}}
                    </div>
                    <div class="row">
                        {{notification.description}}
                    </div>
                    <div class="row pull-right">
                        <a href="" ng-click=""><span class="glyphicon glyphicon-ok"></span></a>
                        <a href="" ng-click="rejectRequest(notification.id)"><span class="glyphicon glyphicon-remove"></span></a>
                    </div>
                </div>
            </div>
            <br>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>