<header>
    <nav class="navbar navbar-default">
        <div class="container">
            <div class="navbar-header">
                <a class="navbar-brand" ui-sref="home">Champions</a>
            </div>
            <div class="collapse navbar-collapse pull-right">
                <ul class="nav navbar-nav">
                    <li><a href="">Heroes</a></li>
                    <li ng-if="status===false"><modal></modal></li>
                    <li ng-if="status===true"><a ui-sref="alliance">Alliance</a></li>

                    <li><a href="">{{ user.username }}</a></li>
                    <li><a href="" ng-click="logout()">Log Out</a></li>
                </ul>
            </div>
        </div>
    </nav>
</header>
