<header>
    <nav class="navbar navbar-default">
        <div class="container" ng-controller="HomeController">
            <div class="navbar-header">
                <a class="navbar-brand" ui-sref="home">Champions</a>
            </div>
            <div class="collapse navbar-collapse pull-right">
                <ul class="nav navbar-nav">
                    <li ng-controller="NotificationController">
                        <a href="">
                            <span ng-if="notifications.length === undefined || notifications.length === 0" class="glyphicon glyphicon-bell"></span>
                            <span ng-if="notifications.length > 0" class="user-notification" ng-click="showNotificationsModal()">{{notifications.length}}</span>
                        </a>
                     </li>
                    <li><a href="">Heroes</a></li>
                    <li ng-if="status.alliance===false">
                        <a href="" ng-click="createAllianceModal()" >Create Alliance</a>
                    </li>
                    <li ng-if="status.alliance===true"><a ui-sref="alliance.general">Alliance</a></li>
                    <li><a href="" ng-click="logout()">Log Out</a></li>
                </ul>
            </div>

        </div>
    </nav>
</header>
<my-modal>
</my-modal>

